.heading 
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size: 15px;
    color: black;
}

body
{
    background-size: cover;
}

.song
{
    margin-top: 20px;
}

canvas
{
    border: 5px black solid;
    border-radius:20px ;
    box-shadow: 7px 7px 5px grey;
}